@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#fixture {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#fixture .container {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
}
#fixture .logo {
  display: flex;

    justify-content: center;
    width: 150px;
    height: 150px;
    margin-top: -149px;
    object-fit: cover;


}
#fixture img {
  height: 100%;
  width: 100%;
}
#fixture .head {

  margin-bottom: 5px;
    margin-top: -38px;
    color: #e2b52d;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 55px;
    font-weight: bolder;
    line-height: normal;
    letter-spacing: 8.331px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}
#fixture .all {
  display: flex;
  justify-content: center;
  align-items: center;
}
#fixture .date {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  border-radius: 7px;
  background: #4a4a4a;
  font-weight: bolder;
  height: 50px;
  width: 320px;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5);
  margin-top: -70px;
}
#fixture .inr{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2b2b;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}


#fixture .left {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: skew(-15deg);
  height: 50px;
}
#fixture .ta {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 3px 0;
  color: white;
  letter-spacing: 1px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#fixture .ta h1 {
  font-size: 25px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  transform: skew(15deg);
  font-weight: 500;
}
#fixture .time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: normal;
  width: 200px;
  border-radius: 6.32px;
  background: #fff;
  box-shadow: 0px 1.80569px 18.05687px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
#fixture .time h1 {
  font-size: 18px;
  transform: skew(15deg);
}
#fixture .time .round{
  color: white;
  font-size: 15px;
  width: 200px;
  padding: 2px 0;
  background: #2b2b2bd2;
}
#fixture .time .round h1{
  transform: skew(15deg);
  font-weight: 500;
}
#fixture .tb {
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a71c4;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: white;
  padding: 3px 0;
  letter-spacing: 1px;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#fixture .tb h1 {
  font-size: 25px;
  font-weight: 500;
  transform: skew(15deg);
}

#fixture .time .ven
{
  font-size: 17px;
  font-weight: 500;

}
#fixture .fixture-list 
  {
    margin-bottom: -75px;
    margin-top: 8px;
    height: 500px;
    width: 650px;
  }
#fixture .team
{
  margin-top: 35px;
}

